:root {
    --white: #f2f5ff;
    --white-transparent: #f2f5ff80;
    --black: #030e33;
    --pink: #f49097;
    --dark-pink: #d17b81;
    --yellow: #f5e960;
    --dark-yellow: #d1c652;
    --green: #55d6c2;
    --dark-green: #47b3a2;
    --blue: #3a86ff;
    --dark-blue: #3273db;
    --shadow: #8595cc40;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    line-height: 1.5;
    color: var(--black);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background: var(--white-transparent);
    box-shadow: 0 0.25rem 0.5rem var(--shadow);
    position: sticky;
    -webkit-position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
}

nav img {
    width: 10rem;
    padding: 0.5rem;
}

main {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
    flex: 1;
}

section {
    margin: 2rem;
}

span {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0.5rem 0;
}

h1 {
    margin: 0;
    padding: 0;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    padding: 2rem;
    text-align: center;
    background: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
}

footer #copyright {
    min-width: 20rem;
    min-height: 4rem;
}

footer #links {
    min-width: 20rem;
}

footer #links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer #links ul li a {
    display: block;
    padding: 0.5rem;
    color: var(--white);
}

footer a {
    color: var(--white);
}

.head {
    font-size: 2.5rem;
    font-weight: bold;
    display: block;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 1em;
}

.head .big {
    font-size: 4rem;
}

@media screen and (max-width: 768px) {
    .head {
        font-size: 2rem;
    }

    .head .big {
        font-size: 3rem;
    }
}

.text-gradient-blue-green {
    background: linear-gradient(90deg, var(--dark-blue), var(--dark-green));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-green-yellow {
    background: linear-gradient(90deg, var(--dark-green), var(--dark-yellow));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-underline-pink-yellow {
    background: linear-gradient(90deg, var(--dark-pink), var(--dark-yellow));
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    display: inline;
}

.cards {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.card {
    width: calc(100% - 2rem);
    min-height: 10rem;
    background: var(--white);
    box-shadow: 0 0.25rem 0.5rem var(--shadow);
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.card.w1 {
    width: calc(100% / 3 - 2rem);
}

.card.w2 {
    width: calc(100% / 3 * 2 - 2rem);
}

.card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }

    .card.w1,
    .card.w2 {
        width: 100%;
    }
}

.big {
    font-size: 1.5em;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.background-blue-gradient {
    background: linear-gradient(0deg, var(--dark-blue), var(--blue));
    color: var(--white);
}

.background-yellow-gradient {
    background: linear-gradient(0deg, var(--dark-yellow), var(--yellow));
}

.background-green-gradient {
    background: linear-gradient(0deg, var(--dark-green), var(--green));
}

.background-pink-gradient {
    background: linear-gradient(0deg, var(--dark-pink), var(--pink));
}

.news {
    background: var(--white);
    box-shadow: 0 0.25rem 0.5rem var(--shadow);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: var(--blue);
    color: var(--white);
    padding: 0.5rem;
    border: 1px solid var(--blue);
}

table td {
    padding: 0.5rem;
    border: 1px solid var(--blue);
}

table tr:nth-child(odd) {
    background: var(--white-transparent);
}

table tr:nth-child(even) {
    background: var(--white);
}

form {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid var(--blue);
    border-radius: 0.5rem;
    font-size: 1rem;
}

form label {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

form textarea {
    height: 10rem;
    resize: none;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: var(--dark-blue);
}

form input[type="submit"] {
    background: var(--blue);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: var(--dark-blue);
}

form input[type="submit"]:focus {
    background: var(--dark-blue);
}

form input[type="submit"]:active {
    background: var(--dark-blue);
}

form input[type="submit"]:disabled {
    background: var(--white);
    color: var(--blue);
    cursor: not-allowed;
}
