---
title: 私たちについて
description: QuettaPlexは、情報系小学生・中学生・高校生のためのサーバーホストやWebサービスを提供しています。
keywords: QuettaPlex,Quetta,Host,Web,Short URL,Minecraft,サーバーホスト,Webサービス,短縮URL,Minecraftサーバー
image: https://quettaplex.com/assets/ogp.png
---

<main>
    <section>
        <h2>私たちについて</h2>
        <div id="about-us">
            <div class="cards">
                <div class="card background-blue-gradient">
                    <h3>私たちのミッション</h3>
                    <p>
                        私たちのミッションは、 サーバーを使うことができないことを理由に、<span class="big">諦める をなくす</span>ことです。
                    </p>
                </div>
                <div class="card background-green-gradient">
                    <h3>私たちの思い</h3>
                    <p>
                        身の回りには、サービスを世界中に提供したいという思いを持った人がたくさんいます。
                        <br>
                        しかし、サーバーを借りることができないことを理由に、諦めてしまう人がたくさんいます。
                        私たちもその一人でした。
                        <br>
                        そこで、私たちは、サーバーを使うことができないことを理由に、<span class="underline">諦めることがなくなるよう</span>に、
                        情報系小学生・中学生・高校生のためのサーバーホストやWebサービスを提供しています。
                    </p>
                </div>
            </div>
        </div>
        <div id="overview">
            <h3>会社概要</h3>
            <table id="company-overview-table">
                <tbody>
                    <tr>
                        <th>商号</th>
                        <td>合同会社QuettaPlex</td>
                    </tr>
                    <tr>
                        <th>発足日</th>
                        <td>2024年4月1日</td>
                    </tr>
                    <tr>
                        <th>資本金</th>
                        <td>3000円(2024年1月22日現在)</td>
                    </tr>
                    <tr>
                        <th>所在地</th>
                        <td>
                            〒940-0853
                            <br>
                            新潟県長岡市中沢1丁目630-2
                            <br>
                            <a href="https://maps.app.goo.gl/xxiiunqrx6z4nBgt5">Google Mapで確認</a>
                        </td>
                    </tr>
                    <tr>
                        <th>代表者</th>
                        <td>代表社員　櫻井 丈太郎</td>
                    </tr>
                    <tr>
                        <th>従業員数</th>
                        <td>0人</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="work">
            <h3>業務内容</h3>
            <ul>
                <li>
                    レンタルサーバー事業
                </li>
                <li>
                    Webサービス事業
                    <ul>
                        <li>
                            Web公開サービス
                        </li>
                        <li>
                            短縮URLサービス
                        </li>
                    </ul>
                </li>
                <li>
                    Minecraftサービス
                </li>
            </ul>
        </div>
        <p>この情報は2024年1月22日現在の情報です。</p>
    </section>
</main>