---
title: お問い合わせ
description: QuettaPlexのお問い合わせページです。
keywords: QuettaPlex,Quetta,Host,Web,Short URL,Minecraft,サーバーホスト,Webサービス,短縮URL,Minecraftサーバー,お問い合わせ,連絡先
image: https://quettaplex.com/assets/ogp.png
---

<style>
    #zip-address {
        display: flex;
        justify-content: space-between;
    }

    #zip-address #zip {
        flex: 1;
        margin-right: 0.25rem;
    }

    #zip-address #address {
        flex: 2;
        margin-left: 0.25rem;
    }
</style>

<main>
    <section>
        <h2>お問い合わせ</h2>
        <form method="post">
            <label for="name">お名前</label>
            <input type="text" name="name" id="name" placeholder="お名前(フルネーム)" required>
            <label for="email">メールアドレス</label>
            <input type="email" name="email" id="email" placeholder="メールアドレス" required>
            <label for="tel">電話番号</label>
            <input type="tel" name="tel" id="tel" placeholder="電話番号" required>
            <label for="zip-address">住所</label>
            <div id="zip-address">
                <input type="text" name="zip" id="zip" placeholder="郵便番号(ハイフン有)" required pattern="^[0-9]{3}-[0-9]{4}$">
                <input type="text" name="address" id="address" placeholder="住所" required>
            </div>
            <label for="subject">件名</label>
            <input type="text" name="subject" id="subject" placeholder="件名" required>
            <label for="message">お問い合わせ内容</label>
            <textarea name="message" id="message" placeholder="お問い合わせ内容" required maxlength="1000"></textarea>
            <div class="alert">
                <p>
                    このフォームのすべての項目を入力してください。
                    <br>
                    また、お問い合わせ内容は、最大で1000文字までとなっております。ご注意ください。
                </p>
            </div>
            <input type="submit" value="送信">
        </form>
    </section>
</main>