---
title: トップページ
description: QuettaPlexは、情報系小学生・中学生・高校生のためのサーバーホストやWebサービスを提供しています。
keywords: QuettaPlex,Quetta,Host,Web,Short URL,Minecraft,サーバーホスト,Webサービス,短縮URL,Minecraftサーバー
image: https://quettaplex.com/assets/ogp.png
---

<style>
    section:first-child {
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>

<main>
    <section>
        <p>
            <span class="head">
                <span class="text-gradient-blue-green big">大学生じゃないから</span>って
                <br>
                <span class="text-gradient-green-yellow big">ITサービスが使えない!</span>のは<span
                    class="text-underline-pink-yellow big">おかしい</span>
            </span>
        </p>
        <p>
            そんな情報系小学生・中学生・高校生のために、<br>
            QuettaPlexは、<br>
            サーバーホストやWebサービスを提供しています。
        </p>
    </section>
    <section style="margin-left: 1rem; margin-right: 1rem; min-height: 50vh;">
        <div class="cards">
            <div class="card w2 background-blue-gradient">
                <h2>Quetta Host</h2>
                <p>
                    Quetta Hostは、QuettaPlexが提供するレンタルサーバーサービスです。
                    <br>
                    決済サービス登録不要・無料プランあり!
                </p>
            </div>
            <div class="card w1 background-yellow-gradient">
                <h2>Quetta Web</h2>
                <p>
                    Quetta Webは、はQuettaPlexが提供するWeb公開サービスです。
                    <br>
                    決済サービス登録不要・完全無料!
                </p>
            </div>
            <div class="card w1 background-pink-gradient">
                <h2>Quetta Short URL</h2>
                <p>
                    Quetta Short URLは、QuettaPlexが提供する短縮URLサービスです。
                    <br>
                    登録不要・完全無料!
                </p>
            </div>
            <div class="card w2 background-green-gradient">
                <h2>Quetta Minecraft</h2>
                <p>
                    Quetta Minecraftは、QuettaPlexが提供するMinecraftサーバーサービスです。
                    <br>
                    無料プランあり!
                </p>
            </div>
    </section>
    <section>
        <h2>お知らせ</h2>
        <div class="news">
            <h3>2020/1/17</h3>
            <p>
                QuettaPlexのサイトを公開しました。
            </p>
        </div>
    </section>
</main>