---
title: 情報セキュリティ基本方針
description:
keywords: QuettaPlex,Quetta,Host,Web,Short URL,Minecraft,サーバーホスト,Webサービス,短縮URL,Minecraftサーバー,セキュリティポリシー
image: https://quettaplex.com/assets/ogp.png
---

<main>
    <section>
        <h2>情報セキュリティ基本方針</h2>
        <div id="site-policy">
            <p>
                合同会社QuettaPlex（以下、当社）は、お客様からお預かりした情報資産を事故・災害・犯罪などの脅威から守り、お客様ならびに社会の信頼に応えるべく、以下の方針に基づき全社で情報セキュリティに取り組みます。
            </p>
            <h3>
                経営者の責任
            </h3>
            <p>
                当社は、経営者主導で組織的かつ継続的に情報セキュリティの改善・向上に努めます。
            </p>
            <h3>
                社内体制の整備
            </h3>
            <p>
                当社は、情報セキュリティの維持及び改善のために組織を設置し、情報セキュリティ対策を社内の正式な規則として定めます。
            </p>
            <h3>
                従業員の取組み
            </h3>
            <p>
                当社の従業員は、情報セキュリティのために必要とされる知識、技術を習得し、情報セキュリティへの取り組みを確かなものにします。
            </p>
            <h3>
                法令及び契約上の要求事項の遵守
            </h3>
            <p>
                当社は、情報セキュリティに関わる法令、規制、規範、契約上の義務を遵守するとともに、お客様の期待に応えます。
            </p>
            <h3>
                違反及び事故への対応
            </h3>
            <p>
                当社は、情報セキュリティに関わる法令違反、契約違反及び事故が発生した場合には適切に対処し、再発防止に努めます。
            </p>
            <p>
                制定日:2024年1月25日<br>
                合同会社QuettaPlex
            </p>
        </div>
        <p>この情報は2024年1月22日現在の情報です。</p>
    </section>
</main>