---
title: 特定商取引法に基づく表記
description: QuettaPlexの特定商取引法に基づく表記です。
keywords: QuettaPlex,Quetta,Host,Web,Short URL,Minecraft,サーバーホスト,Webサービス,短縮URL,Minecraftサーバー,特定商取引法に基づく表記,特定商取引法,特商法,特定商取引法に基づく表示,運営者情報,販売事業者名,運営責任者名,本社所在地,メールアドレス,電話番号,販売価格,お支払い方法,商品の引き渡し時期,返品・交換不良品・解約・キャンセルについて
image: https://quettaplex.com/assets/ogp.png
---

<main>
    <section>
        <h2>特定商取引法に基づく表記</h2>
        <div id="overview">
            <table id="company-overview-table">
                <tbody>
                    <tr>
                        <th>販売事業者名</th>
                        <td>合同会社QuettaPlex</td>
                    </tr>
                    <tr>
                        <th>運営責任者名</th>
                        <td>櫻井 丈太郎</td>
                    </tr>
                    <tr>
                        <th>本社所在地</th>
                        <td>
                            〒940-0853
                            <br>
                            新潟県長岡市中沢1丁目630-2
                            <br>
                            <a href="https://maps.app.goo.gl/9S4mDnTUeKq1VzZW6">Google Mapで確認</a>
                        </td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td>
                            <a href="mailto:contact@quettaplex.com">contact@quettaplex.com</a>
                        </td>
                    </tr>
                    <tr>
                        <th>電話番号</th>
                        <td>お問い合わせください</td>
                    </tr>
                    <tr>
                        <th>販売価格</th>
                        <td>お問い合わせください</td>
                    </tr>
                    <tr>
                        <th>お支払い方法</th>
                        <td>pay.jpによる支払い</td>
                    </tr>
                    <tr>
                        <th>商品の引き渡し時期</th>
                        <td>お支払いが完了したことを確認したのち提供いたします</td>
                    </tr>
                    <tr>
                        <th>返品・交換不良品・解約・キャンセルについて</th>
                        <td>サービスの特性上、返品・キャンセルについてはお受けできません</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>この情報は2024年1月22日現在の情報です。</p>
    </section>
</main>